#切换到哪个目录
alias go="cd ~/codes"

#本地ip
alias myip="ifconfig | grep 'inet ' | grep -v 127.0.0.1 | cut -d\   -f2"

#公网ip
alias mypublicip="curl ifconfig.me"

#查看最近文件
alias ltr 'ls -altr'

#查看天气
curl -4 wttr.in/

#百度一下
baidu() {
  for item in $*
  do
	if [ "$searchWord" == "" ];then
	  searchWord="$item";
	else
	  searchWord="$searchWord $item"
	fi
  done;

  open "https://www.baidu.com/s?wd="$searchWord
}

#谷歌一下
google() {
  for item in $*
  do
	if [ "$searchWord" == "" ];then
	  searchWord="$item";
	else
	  searchWord="$searchWord $item"
	fi
  done;

  open "https://www.google.com/search?q="$searchWord
}

#github一下
github() {
  for item in $*
  do
	if [ "$searchWord" == "" ];then
	  searchWord="$item";
	else
	  searchWord="$searchWord $item"
	fi
  done;

  open "https://www.github.com/search?q="$searchWord
}
