#切换到哪个目录
alias go="cd ~/projects/biz/"

#本地ip
alias myip="ifconfig | grep 'inet ' | grep -v 127.0.0.1 | cut -d\   -f2"

#公网ip
alias mypublicip="curl ifconfig.me"

#百度一下
baidu() {
  open "https://www.baidu.com/s?wd="$1
}

#谷歌一下
google() {
  open "https://www.google.com/search?q="$1
}

#github一下
github() {
  open "https://www.github.com/search?q="$1
}
